[program:mozio]
command = /root/gunicorn/gunicorn_start_mozio.bash              ; Command to st$
user = root                                                     ; User to run as
stdout_logfile = /root/mozio/logs/supervisor.log                ;Where to writ$
redirect_stderr = true                                          ; Save stderr in the same log
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8                 ; Set UTF-8 as default encoding
